body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
  background-color: #191414;
}

h1 {
  color: #1DB954;
}

h2 {
  color: #1DB954;
  position: relative;
  font-size: 50px;
}

.form-group{

  max-width: 300px;
  
}

#column{
  position: relative;
  left: 40%;
}

#join-btn{
  position: relative;
  left: 15px;
}

#join-group{
  position: relative;
  top: 150px;
}

#create-group{
  position: relative;
  top: 50px;
}